*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    scroll-behavior: smooth;
}

:root{
    --hue: 198;
    --bgcolor: #012030;
    --main:hsla(var(--hue), 76%, 31%);
    --light:hsla(var(--hue), 76%, 45%);
    --dark:hsla(var(--hue), 76%, 15%);
    --hover:hsla(var(--hue), 38%, 70%);
    --robotomono: 'Roboto Mono', monospace;

}

.section{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--bgcolor);
    scroll-margin-top: 150px;
}

#home{
    margin-top: 5%;
}

.oi{
    font-size: 50px;
    margin-top: 10%;
}

.brand-logo {
    padding-left: 12px !important;
    font-weight: bold;
}

.dropdown-content {
    width: max-content !important;
    height: auto !important;
}

body.dark{
    background-color: var(--bgcolor);
}

.oi, .about{
    font-weight: bold;
    color: var(--light);
}

.icons{
    margin-top: 20vh;
    font-size: 50px;
    height: 75px;
}

.icons-footer{
    font-size: 30px;
}

#footer{
    background-color: var(--dark) !important;
}

.copyright, .footer-text{
    font-size: 20px;
}

.icons-top{
    color: var(--light);
}

.about{
    text-align: center;
}

p.home-description, .about-content{
    font-size: 25px;
    display: block;
    text-align: justify;
}

aside img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 20%;
    align-items: center;
    margin-top: 10%;
}

hr.line{
    width: 25%;
    background-color: var(--light);
    border-color: transparent;
    margin-bottom: 2%;
}
